<div class="container">
  <h1>Editing Ingredient</h1>

  <%= render 'form', ingredient: @ingredient %>

  <%= link_to fa_icon("eye", class:"action-icons show-icon"), @ingredient, class: "action-link" %>
  <%= link_to fa_icon("reply", class:"action-icons return-icon"), ingredients_path, class: "action-link" %>
</div>
