<h1>Editing Ingredient</h1>

<%= render 'form', ingredient: @ingredient %>

<%= link_to 'Show', @ingredient %> |
<%= link_to 'Back', ingredients_path %>
<a title="Back" class="action-link" href=<%= new_ingredient_path %> ><i class="fa fa-plus action-icons new-icon"></i></a>