<div class="container">
  <h1>Pending Orders</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <td>Order Number</td>
        <td>Table</td>
        <td>Client</td>
      </tr>
    </thead>
  </table>

  <%= link_to 'New Order', new_order_path %>
</div>
